#App
APP_NAME= "visir_app"
APP_VERSION="0.1.0"
ENVIROMENT= "development"


#server
HOST = 0.0.0.0
PORT = 8000

#Postgres local
#Formato: postgresql://usuario:password@host:puerto/base_de_datos
DATABASE_URL=postgresql://visir:visir123@localhost:5432/visir_dev


#Supa
SUPABASE_URL=https://...
SUPABASE_PUBLIC_KEY=sb_publishable_...
SUPABASE_SECRET_KEY=sb_secret_...

#Redis 
REDIS_URL=redis://localhost:6379


CHROMA_ORG_COLLECTION=documentos_organizacion